.contactForm-section {
  margin: 50px 0px;
  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactForm-principal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @media (min-width: 768px) {
      width: 75%;
    }
    .contactForm-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        font-weight: 600;
        border-bottom: 3px solid #3e6ff4;
        color: #3e6ff4;
        margin-bottom: 50px;
      }
      p {
        text-align: center;
        color: #100d30;
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 30px;
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      flex-direction: column;
      input,
      textarea {
        border: 1px solid #100d30;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 1rem;
        padding: 10px;
      }
      input {
        min-height: 50px;
      }
      textarea {
        min-height: 200px;
        resize: none;
      }
      button {
        padding: 12px 40px;
        background-color: #3e6ff4;
        color: white;
        font-weight: 600;
        border: inherit;
        border-radius: 0.7rem;
        border: 1px solid #3e6ff4;
        transition: 200ms ease-in;
        &:hover {
          background: white;
          color: #3e6ff4;
        }
      }
    }
  }
}
