.homepage{
    margin-top: 50px;
    padding: 25px 0px;
    .homepage-principal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        .homepage-text{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            h1{
                font-size: 2rem;
                text-align: center;
                margin-bottom: 30px;
                span{
                    color: #3e6ff4;
                }
            }
            .contacts-button{
                color: white;
                font-weight: 600;
                letter-spacing: 1px;
                background-color: #3e6ff4;
                display: inline-flex;
                padding: 15px 30px;
                border-radius: 0.7rem;
            }
        }
        .homepage-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            img{
                width: 175px;
                border-radius: 20%;
            }
        }
    }
}