.skills-section {
  padding: 50px 0px;
  background-color: #3e6ff4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-principal-content {
    @media (min-width: 1024px) {
      width: 75%;
    }
    .skills-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        font-size: 1.5rem;
        font-weight: 600;
        border-bottom: 3px solid white;
        color: white;
        margin-bottom: 50px;
      }
    }
    .skills-frontend {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-flow: wrap;

      .skills-frontend-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
        }
        h5 {
          font-size: 1.4rem;
          font-weight: 600;
          color: white;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          color: white;
          font-weight: 500;
          font-size: 1.1rem;
          margin-bottom: 20px;
        }
      }
      .skills-frontend-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
        }
        h5 {
          font-size: 1.4rem;
          font-weight: 600;
          color: white;
          margin-bottom: 20px;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: wrap;
          gap: 1.5rem;
          @media (min-width: 414px) {
            width: 75%;
          }
          li {
            a {
              span {
                display: block;
                width: 35px;
                height: 35px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                filter: brightness(0) invert(1);
                transition: 300ms ease-in;
                &:hover {
                  transform: scale(1.3);
                }
              }
            }
          }
        }
      }
    }
  }
}
