.skills-section{
    padding: 25px 0px;
    background-color: #3e6ff4;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .skills-principal-content{
        .skills-title{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h4{
                font-size: 1.5rem;
                font-weight: 600;
                border-bottom: 3px solid white;
                color:  white;
                margin-bottom: 50px;
            }
        }
        .skills-frontend{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h5{
                font-size: 1.4rem;
                font-weight: 600;
                color: white;
                margin-bottom: 20px;
                
            }
            p{
                text-align: center;
                color: white;
                font-weight: 500;
                font-size: 1.1rem;
                margin-bottom: 20px;
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: wrap;
                li{
                    svg{
                        font-size: 2.2rem;
                        color: white;
                        margin: 10px;
                        transition: 200ms ease-in;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
}